<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="org.potpie.mpdjs.bonjourlistener"
    version="1.0.0">

    <name>BonjourListener</name>

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/BonjourListener.js" name="BonjourListener">
        <clobbers target="window.BonjourListener" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BonjourListener">
                <param name="ios-package" value="BonjourListener" />
            </feature>
        </config-file>

		<header-file src="src/ios/BonjourListener.h" />
        <source-file src="src/ios/BonjourListener.m" />
    </platform>
    
</plugin>
