.ui-icon-fastForwardIcon:after {
	background-image: url('../images/fastForward16.png');
	background-size: 16px 16px;
}

.ui-icon-pauseIcon:after {
	background-image: url('../images/pause16.png');
	background-size: 16px 16px;
}

.ui-icon-playIcon:after {
	background-image: url('../images/play16.png');
	background-size: 16px 16px;
}

.ui-icon-stopIcon:after {
	background-image: url('../images/stop16.png');
	background-size: 16px 16px;
}

.ui-icon-rewindIcon:after {
	background-image: url('../images/rewind16.png');
	background-size: 16px 16px;
}

.ui-icon-minusIcon:after {
	background-image: url('../images/minus.png');
	background-size: 16px 16px;
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
    width: 160px;
}

.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner {
    width: 33px;
    height: 33px;
}
.ui-header .ui-btn-inner .ui-icon {
    margin: 0px;
    border-radius: 0;
}
.ui-header {
    height: 47px;
}
