<div data-role="content">
	<table class="ui-filterable">
       	<tr>
        	<td style="width: 100%;"><form id="albumlistFilterForm"><input data-theme="g" id="albumlistFilter" data-type="search" placeholder="Find albums..."></form></td>
        	<td nowrap>Total : <span id="total"><%= total %></span></td>
		</tr>
   	</table>
	<ul id="albumList" data-role="listview" data-filter="true" data-input="#albumlistFilter">
	<% _.each(albums, function(album) { %>
		<li data-icon="arrow-r"><a href="#songs/<%= encodeURIComponent(album.name) %>"><p style="white-space:normal"><%= album.name %></p></a></li> 
	<% }); %>
	</ul>
</div>
