<div data-role="header" data-position="fixed">
	<a href="#artists" class="ui-btn ui-btn-inline ui-corner-all ui-btn-b">Artists</a> 
	<a href="#playlist" class="ui-btn ui-btn-inline ui-corner-all ui-btn-b">Playing</a> 
	<h1>Albums</h1> 
</div>
<div data-role="content">
	<ul id="albumList" data-role="listview" data-filter="true">
	<% _.each(albums, function(album) { %>
		<li><a href="#songs/<%= encodeURIComponent(album.name) %>"><%= album.name %></a></li> 
	<% }); %>
	</ul>
</div>
<!--
<div data-id="thefooter "data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="#artists">Artists</a></li>
			<li><a href="#albums">Albums</a></li>
			<li><a href="#playlist">Playing</a></li>
		</ul>
	</div>		
</div>		
-->