<div data-role="popup" id="playingConfigPanel" data-theme="a" class="ui-content">
	<h3>Playing Configuration</h3>
	<label><input id="shuffle" type="checkbox">Shuffle</label>
	<label><input id="repeat" type="checkbox">Repeat</label>
	<label><input id="consume" type="checkbox">Remove Song After Play</label>
	<label><input id="single" type="checkbox">Stop After Song Played</label>
	<label>Cross-fade (Seconds): <input id="crossfade" type="number"></label>
	<label for="replaygain">Replay Gain: </label>
	<select id="replaygain">
		<option value="off">Off</option>
		<option value="track">Track</option>
		<option value="album">Album</option>
		<option value="auto">Auto</option>
	</select>
</div>