<div data-role="header" data-position="fixed" class="ui-bar">
	<h1>Play List</h1>
</div>
<div data-role="content">
		<div data-role="collapsible">
			<h3>Play/Pause/Stop/Volume</h3> 
			<div data-type="horizontal">
				<a href="#playlist" id="previous" data-role="button" data-inline="true" data-icon="rewindIcon" data-iconpos="notext" data-mini="true"></a> 
				<a href="#playlist" id="playPause" data-role="button" data-inline="true" data-icon="playIcon" data-iconpos="notext" data-mini="true"></a> 
				<a href="#playlist" id="stop" data-role="button" data-inline="true" data-icon="stopIcon" data-iconpos="notext" data-mini="true"></a> 
				<a href="#playlist" id="next" data-role="button" data-inline="true" data-icon="fastForwardIcon" data-iconpos="notext" data-mini="true"></a>
			</div>
			<div data-role="fieldcontain">
				<label for="volume">Volume:</label>	
				<input type="range" name="slider" id="volume" value="25" min="0" max="100" data-highlight="true"></input>
			</div>
			<div id="currentlyPlaying">Playing []</div>					 
		</div>
		<div data-role="collapsible" data-collapsed="false"> 
			<h3>PlayList</h3> 
			<div>
				<a href="#playlist" id="editButton" data-role="button" data-inline="true" data-mini="true">Edit</a>
				<a href="#playlist" id="randomButton" data-role="button" data-inline="true" data-mini="true">Random</a>
				<a href="#playlist" id="clearButton" data-role="button" data-inline="true" data-mini="true">Clear</a>
			</div>
			<ol id="playingList" data-role="listview" data-theme="g">
			<% _.each(playlist, function(song) { %>
				<li><%= song.artist %> : <%= song.title %></li> 
			<% }); %>
			</ol>
		</div>	
</div>
<div data-id="thefooter "data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="#artists">Artists</a></li>
			<li><a href="#albums">Albums</a></li>
			<li><a href="#songs">Songs</a></li>
			<li><a href="#playlist">Playing</a></li>
		</ul>
	</div>		
</div>		
