<div data-role="header" data-position="fixed">
	<a href="#artists" data-role="button" data-inline="true" data-theme="b">Artists</a> 
	<a href="#albums" data-role="button" data-inline="true" data-theme="b">Albums</a> 
	<h1>Play List</h1>
</div>
<div data-role="content">
		<div class="ui-body ui-body-e" id="currentlyPlaying">Playing []</div>					 
		<div data-role="fieldcontain">
			<input type="range" name="slider" id="volume" value="25" min="0" max="100" data-highlight="true"></input>
		</div>
		<div data-role="collapsible" data-collapsed="false"> 
			<h3>PlayList</h3> 
			<div>
				<a href="#playlist" id="editButton" data-role="button" data-inline="true" data-mini="true">Edit</a>
				<a href="#playlist" id="randomButton" data-role="button" data-inline="true" data-mini="true">Random</a>
				<a href="#playlist" id="clearButton" data-role="button" data-inline="true" data-mini="true">Clear</a>
			</div>
			<ol id="playingList" data-role="listview" data-theme="g">
			<% _.each(playlist, function(song) { %>
				<li><%= song.artist %> : <%= song.title %></li> 
			<% }); %>
			</ol>
		</div>	
</div>
<div data-id="thefooter "data-role="footer" data-position="fixed" class="ui-bar">
	<div data-role="controlgroup" data-type="horizontal">
		<a href="#playlist" id="previous" data-role="button" data-icon="rewindIcon">Prev</a> 
		<a href="#playlist" id="stop" data-role="button" data-icon="stopIcon">Stop</a> 
		<a href="#playlist" id="playPause" data-role="button" data-icon="playIcon">Play</a> 
		<a href="#playlist" id="next" data-role="button" data-icon="fastForwardIcon">Next</a>
	</div>		
</div>		
