.ui-icon-fastForwardIcon:after {
	background-image: url('../images/fastForward.png');
	background-size: 20px 20px;
}

.ui-icon-pauseIcon:after {
	background-image: url('../images/pause.png');
	background-size: 20px 20px;
}

.ui-icon-playIcon:after {
	background-image: url('../images/play.png');
	background-size: 20px 20px;
}

.ui-icon-stopIcon:after {
	background-image: url('../images/stop.png');
	background-size: 20px 20px;
}

.ui-icon-rewindIcon:after {
	background-image: url('../images/rewind.png');
	background-size: 20px 20px;
}

.ui-icon-minusIcon:after {
	background-image: url('../images/minus.png');
	background-size: 16px 16px;
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
    width: 160px;
}

.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner {
    width: 33px;
    height: 33px;
}
.ui-header .ui-btn-inner .ui-icon {
    margin: 0px;
    border-radius: 0;
}
.ui-header {
    height: 47px;
}
.error { 
	float: left; 
	color: red; 
	padding-top: .5em; 
	vertical-align: top; 
	font-weight:bold
}
